<% include ./partials/header %>

<div class="ui main text container segment newform">
	<div class="ui huge header">
		Edit Person
	</div>
	<form class="ui form" action="/person/<%= person._id %>" method="post" >
	<div class="field">
		<input type="text" name="person[name]" value="<%=person.name%>">
	</div>
	<div class="field">
		<input type="text" name="person[age]" value="<%=person.age%>">
	</div>
	<div class="field">
		<input type="text" name="person[gender]" value="<%=person.gender%>">
	</div>
	<div class="field">
		<input type="text" name="person[mobile_number]" value="<%=person.mobile_number%>">
	</div>
	<button class="ui button" type="submit">Submit</button>
</form>
</div>

<% include ./partials/footer.ejs %>